<p>Характеристики:</p>
<ul class="characteristics">
  <li>Сила: <%= resource.strength %> (<%= resource.str_modifier %>)</li>
  <li>Ловкость: <%= resource.dexterity %> (<%= resource.dex_modifier %>)</li>
  <li>Телосложение: <%= resource.constitution %> (<%= resource.con_modifier %>)</li>
  <li>Интелект: <%= resource.intelligence %> (<%= resource.int_modifier %>)</li>
  <li>Мудрость: <%= resource.wisdom %> (<%= resource.wis_modifier %>)</li>
  <li>Харизма: <%= resource.charisma %> (<%= resource.cha_modifier %>)</li>
</ul>
