<p>Спасброски:</p>
<table class="saving_throws">
  <tr>
    <td>Сила</td>
    <td><%= resource.str_modifier %></td>
  </tr>
  <tr>
    <td>Ловкость</td>
    <td><%= resource.dex_modifier %></td>
  </tr>
  <tr>
    <td>Телосложение</td>
    <td><%= resource.con_modifier %></td>
  </tr>
  <tr>
    <td>Интелект</td>
    <td><%= resource.int_modifier %></td>
  </tr>
  <tr>
    <td>Мудрость</td>
    <td><%= resource.wis_modifier %></td>
  </tr>
  <tr>
    <td>Харизма</td>
    <td><%= resource.cha_modifier %></td>
  </tr>
</table>
