<p>Навыки:</p>
<table class="skills">
  <thead>
    <tr> 
      <td>ХАР</td>
      <td>Навык</td>
      <td>Бонус</td>
    </tr>
  </thead>
  <tr>
    <td>СИЛ</td>
    <td>Атлетика</td>
    <td><%= resource.str_modifier %></td>
  </tr>
  <tr>
    <td>ЛОВ</td>
    <td>Акробатика</td>
    <td><%= resource.dex_modifier %></td>
  </tr>
  <tr>
    <td>ЛОВ</td>
    <td>Ловкость рук</td>
    <td><%= resource.dex_modifier %></td>
  </tr>
  <tr>
    <td>ЛОВ</td>
    <td>Скрытность</td>
    <td><%= resource.dex_modifier %></td>
  </tr>
  <tr>
    <td>ИНТ</td>
    <td>Магия</td>
    <td><%= resource.int_modifier %></td>
  </tr>
  <tr>
    <td>ИНТ</td>
    <td>История</td>
    <td><%= resource.int_modifier %></td>
  </tr>
  <tr>
    <td>ИНТ</td>
    <td>Расследование</td>
    <td><%= resource.int_modifier %></td>
  </tr>
  <tr>
    <td>ИНТ</td>
    <td>Природа</td>
    <td><%= resource.int_modifier %></td>
  </tr>
  <tr>
    <td>ИНТ</td>
    <td>Религия</td>
    <td><%= resource.int_modifier %></td>
  </tr>
  <tr>
    <td>МУД</td>
    <td>Уход за животными</td>
    <td><%= resource.wis_modifier %></td>
  </tr>
  <tr>
    <td>МУД</td>
    <td>Выживание</td>
    <td><%= resource.wis_modifier %></td>
  </tr>
  <tr>
    <td>МУД</td>
    <td>Проницательность</td>
    <td><%= resource.wis_modifier %></td>
  </tr>
  <tr>
    <td>МУД</td>
    <td>Медицина</td>
    <td><%= resource.wis_modifier %></td>
  </tr>
  <tr>
    <td>МУД</td>
    <td>Внимательность</td>
    <td><%= resource.wis_modifier %></td>
  </tr>
  <tr>
    <td>ХАР</td>
    <td>Обман</td>
    <td><%= resource.cha_modifier %></td>
  </tr>
    <tr>
    <td>ХАР</td>
    <td>Запугивание</td>
    <td><%= resource.cha_modifier %></td>
  </tr>
  <tr>
    <td>ХАР</td>
    <td>Выступление</td>
    <td><%= resource.cha_modifier %></td>
  </tr>
  <tr>
    <td>ХАР</td>
    <td>Убеждение</td>
    <td><%= resource.cha_modifier %></td>
  </tr>
</table>
